#logo{
  background-color: #1e212d;
}
.first{
  padding-left: 26%;
}

body{
  background-image:repeating-radial-gradient(#ccf2f4,#a4ebf3);
}
#homelogo1{
  position: absolute;
  top: 900px;
  left: 0.2%;
  width: 25%;
    float: left;

  



}
#booklogo{
  position: absolute;
  left: 8%;






}
#booklogoid
{
  height: 7%;
  width:5%;
}


#homelogo2{
  position: absolute;
  right:0.2%;
  top: 780px;
  width: 30%;
  height: 20%;
    float: right;




}
#sitename{
  text-align: center;
  padding-bottom: 6%;
  font-style:obliquec;
  font-size: 20px;
 font-family: 'Hammersmith One', sans-serif;

}
h1{
  font-size: 25px;
  text-decoration: underline;
font-family: 'Hammersmith One', sans-serif;
}
p{
  font-size:40px;;
  font-family: 'Hammersmith One', sans-serif;
}

#kir{
  font-size: 10px;
  font-family: 'Hammersmith One', sans-serif;
}
