h1{
  text-align: center;
  padding-top: 0%;
  color: #23120b;
}
body{
  background-image: linear-gradient(#FFF7AE,#C2F784,#FDF5CA);
  background-size: cover;
}

h2{
  padding-bottom:2.5%;
  padding-top:2.5%;
}



}
#dev{
  position: absolute;
  right: 0%;
  background-color: #e8efeb;
}
